<section class="hero is-warning is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-flex-wrap is-justify-content-center">
        <div class="column is-flex is-flex-wrap">
          <div class="hero-body-tile is-flex">
            <div class="hero-body-tile-image">
              <img src="./assets/wrench.svg" alt="I" width="90">
            </div>
            <div class="hero-body-tile-text">
              <p class="title has-text-centered-mobile">
                will solve your problems.
              </p>
            </div>
          </div>
        </div>
        <div class="column is-flex is-flex-wrap">
          <div class="card card-tile is-flex-mobile">
            <div class="card-content">
              <p class="title">Need help?</p>
              <p class="subtitle">Hardware, Software Development - Coaching... Training... you name it!</p>
              <div class="content">
                <a href="https://linkedin.com/in/asmyio" class="button is-black" target="_blank">Contact Me</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
