<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>asmy dot dev</strong> by <a href="https://linkedin.com/in/asmyio">Ahmad Siraj MY</a> &copy; <script>document.write(new Date().getFullYear())</script>
    </p>
    <p>All emojis designed by <a href="https://openmoji.org/">OpenMoji - </a><a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY SA 4.0</a>.
    </p>
  </div>
</footer>
