<nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a class="navbar-item" href="https://asmy.dev">
      <img src="./assets/melting.svg" width="28" height="28"> asmy.dev
    </a>

    {% for item in navigation.items %}
      <a class="navbar-item" href={{ item.url }} target="_blank">
        {{ item.text }}
      </a>
    {% endfor %}

  </div>

  <div class="navbar-end">
  </div>
</nav>
